.our-process{
    background: #03020a;
    padding: 5em 0;
    text-align: center;
}
.top-section {
    background: linear-gradient(135deg, #040508 0%, #181b4d 100%);
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin-left: 10%;
    padding: 1em;
}
.strategic-image, .delivery-image, .collaboration-image {
    height: 20vh;
}
.bottom-section {
    display: flex;
}
.left-section, .right-section {
    display: flex;
    justify-content: space-between;
    width: 38vw;
    padding: 1em;
    margin-top: 2%;
}
.left-section{
    margin-left: 10%;
    background: linear-gradient(135deg, #04040a 0%, #13163c 100%);
}
.right-section {
    margin-left: 2%;
    background: linear-gradient(135deg, #03040a 0%, #12153a 100%);
}

@media screen and (max-width: 767px) {
    .bottom-section {
      flex-direction: column;
    }
    .left-section, .right-section {
        width: 85%;
        margin-left: 5%;
    }
  }
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .left-section {
      margin-left: 5%;
    }
    .bottom-section {
        flex-direction: column;
    }
    .left-section, .right-section {
        width: 90%;
    }
  }