.what-we-represent {
    text-align: center;
    background: #030517;
    padding: 2em 0;
}
.mission-vision{
    display: flex;
    justify-content: center;
}
.vision {
    border: 1px solid #01b4de;
    border-radius: 5px;
    padding: 1em;
}
.mission {
    border: 1px solid #01b4de;
    border-radius: 5px;
    margin-left: 2%;
    padding: 1em;
}
.mission-image, .vision-image {
    height: 20vh;
}
@media screen and (max-width: 767px) {
    .mission-vision {
      flex-direction: column;
    }
    .mission, .vision {
        width: 85%;
        margin-bottom: 3%;
        margin-left: 3%;
    }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
    .mission-vision {
      flex-direction: column;
    }
    .mission, .vision {
        width: 90%;
    }
    .mission {
        margin-top: 3%;
    }
    .vision {
        margin-left: 2%;
    }
}