.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #05071e;
}
Ul{
    display: flex;
    list-style-type: none;
    color: #ffffff;
}
li{
    padding-right: 1em;
}
.right {
    display: flex;
    color: #ffffff;
    background: linear-gradient(135deg, #000080 0%, #4169e1 100%);
    border-radius: 50px;
    height: 7vh;
    width: 13vw;
    padding: 1em;
    border: 1px solid #4169e1;
}
.right:hover {
    width: 12vw;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.phone{
    height: 3vh;
    margin-right: 3%;
}
@media screen and (max-width: 767px) {
    .navbar {
      flex-direction: column;
    }
    .right {
      width: 50vw;
      margin-left: 25%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .right {
      width: 25vw;
      height: 5vh;
    }
}